.square {
    display: flex;
    border: 1px solid black;
    width: 15px;
    height: 15px;
    box-sizing: border-box;

}

.container {
    display: flex;
    flex-wrap: wrap;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    margin: 0; /* Remove default margin */
}

.wrapper {
    display: flex;
    flex-direction: column;
}

button {
    margin-bottom: 100px;
}